# ==================== 应用配置 ====================
ADMIN_PASSWORD=bukan
NEXT_PUBLIC_DOUBAN_API_URL=

# ==================== 弹幕 API 配置 ====================
# (弹幕功能目前默认关闭，后续启用时可在此配置)
NEXT_PUBLIC_DANMU_API_URL=
